@mixin gradient($direction, $startColor, $middleColor, $endColor) {
  background: $startColor;
  background: linear-gradient($direction, $startColor 0%, $middleColor 40%, $endColor 100%);
  
  background: -webkit-linear-gradient($direction, $startColor 0%, $middleColor 40%, $endColor 100%);
  background: -moz-linear-gradient($direction, $startColor 0%, $middleColor 40%, $endColor 100%);
}