// Reset all default browsers styling
@import "reset.scss";
@import "fonts.scss";
@import "mixins.scss";

html {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5rem;
  background-color: $black;
}

// Global app styling
#app {
  color: $white;
  .view {
    padding: 0 5px;
  }
}

.wrapper {
  width: 1500px;
  margin: auto;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  &.link {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

strong {
  font-weight: bold;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin-bottom: 15px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  line-height: 1.5em;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.alert {
  padding: 10px;
  &.error {
    border: 1px solid rgb(195, 66, 63);
    background-color: rgba(195, 66, 63, .4);
  }
  &.success {
    border: 1px solid rgb(155, 197, 61);
    background-color: rgba(155, 197, 61, .4);
  }
  a {
    text-decoration: underline;
  }
}

// Page transition
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

@media (max-width: 1500px) {
  .wrapper {
    width: 100%;
    padding: 0 30px;
  }
}