<template>
  <div v-if="catMovies" class="wrapper">
    <h2>Catégorie : {{ catMovies[0].category_name }}</h2>
    <div class="movies">
      <MovieCard
        v-for="movie in catMovies"
        :key="movie.movie_id"
        :movie="movie"
        @click="$store.dispatch('setMovieInfo', movie)"
      />
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import MovieCard from '../components/ui/MovieCard.vue';

export default {
  name: 'CategoriesPage',
  components: { MovieCard },
  data() {
    return {
      category: this.$route.params.cat,
      catMovies: null
    };
  },
  watch: {
    $route: {
      immediate: true,
      handler(to) {
        if (to.params.cat !== this.category) this.category = to.params.cat;
      }
    }
  },
  async created() {
    this.catMovies = await this.getMoviesByCategory(this.category);
    this.$watch(
      () => this.$route.params,
      async (toParams, previousParams) => {
        if (previousParams.cat !== toParams.cat) {
          this.category = toParams.cat;
          this.catMovies = await this.getMoviesByCategory(this.category);
        }
      }
    );
  },
  methods: {
    async getMoviesByCategory(id) {
      if (!id) return false;
      return axios
        .get(`http://localhost:5033/api/movie/category/${id}`)
        .then((res) => res.data)
        .catch((err) => console.error(err));
    }
  }
};
</script>

<style lang="scss" scoped>
.wrapper {
  padding-top: 130px;
  h2 {
    margin-bottom: 40px;
  }
  .movies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    article {
      flex: 1 1 250px;
      width: calc(20% - 10px);
      max-height: 170px;
      max-width: 450px;
    }
  }
}
@media (max-width: 520px) {
  article {
    flex-grow: 1 !important;
  }
}
</style>
