<template>
  <div class="wrapper">
    <h2>Vos favories</h2>
    <div v-if="favMovies" class="movies">
      <MovieCard
        v-for="movie in favMovies"
        :key="movie.movie_id"
        :movie="movie"
        @click="$store.dispatch('setMovieInfo', movie)"
      />
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import MovieCard from '../components/ui/MovieCard.vue';

export default {
  name: 'FavoriesPage',
  components: { MovieCard },
  data() {
    return {
      favMovies: []
    };
  },
  async created() {
    this.favMovies = await this.getMoviesFavByUser(this.$store.state.isConnected);
  },
  methods: {
    async getMoviesFavByUser(id) {
      if (!id) return false;
      return axios
        .get(`http://localhost:5033/api/favories/${id}`)
        .then((res) => res.data)
        .catch((err) => console.error(err));
    }
  }
};
</script>

<style lang="scss" scoped>
.wrapper {
  padding-top: 130px;
  .movies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    article {
      flex: 1 1 250px;
      width: calc(20% - 10px);
      max-height: 170px;
      max-width: 450px;
    }
  }
}
@media (max-width: 520px) {
  article {
    flex-grow: 1 !important;
  }
}
</style>
