<template>
  <div>
    <BannerUI v-if="mostViewed" :movie="mostViewed" />
    <section class="wrapper">
      <div class="title">
        <h3>Vos favories</h3>
        <p><router-link :to="{ name: 'categorie', params: { category: 'top' }}">Voir plus...</router-link></p>
      </div>
      <div v-if="favories" class="movies">
        <MovieCard
          v-for="movie in favories"
          :key="movie.movie_id"
          :movie="movie"
        />
      </div>
    </section>
    <section class="wrapper">
      <div class="title">
        <h3>Les derniers films ajoutés</h3>
      </div>
      <div v-if="lastImports" class="movies">
        <MovieCard
          v-for="movie in lastImports"
          :key="movie.movie_id"
          :movie="movie"
        />
      </div>
    </section>
    <section v-if="categories">
      <div v-for="category in categories" :key="category.categorie_id" class="wrapper">
        <div class="title">
          <h3>{{ category.name }}</h3>
          <p>
            <router-link :to="{ name: 'categorie', params: { cat: category.category_id }}">
              Voir plus...
            </router-link>
          </p>
        </div>
        <div class="movies">
          <MovieCard
            v-for="movie in category.movies"
            :key="movie.movie_id"
            :movie="movie"
          />
        </div>
      </div>
    </section>
    <section class="wrapper">
      <div class="title">
        <h3>Les films les plus vues</h3>
      </div>
      <div v-if="topFive" class="movies">
        <MovieCard
          v-for="movie in topFive"
          :key="movie.movie_id"
          :movie="movie"
        />
      </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios';
import BannerUI from '../components/ui/Banner.vue';
import MovieCard from '../components/ui/MovieCard.vue';

export default {
  name: 'HomePage',
  components: {
    BannerUI, MovieCard
  },
  data() {
    return {
      mostViewed: '',
      topFive: [],
      lastImports: [],
      categories: null,
      favories: null
    };
  },
  async created() {
    this.mostViewed = await this.getMostViewed();
    this.topFive = await this.getTopFive();
    this.lastImports = await this.getLastImports();
    this.categories = await this.getCategories();
    this.categories.forEach(async (category, i) => {
      const movies = await this.getMoviesByCategory(category.category_id);
      this.categories[i].movies = movies;
    });
    this.favories = await this.getUserFav(1);
  },
  methods: {
    async getMostViewed() {
      return axios
        .get('http://localhost:5033/api/mostViewed?limit=1')
        .then((res) => res.data[0])
        .catch((err) => console.error(err));
    },
    async getTopFive() {
      return axios
        .get('http://localhost:5033/api/mostViewed?limit=6')
        .then((res) => {
          res.data.shift();
          return res.data;
        })
        .catch((err) => console.error(err));
    },
    async getLastImports() {
      return axios
        .get('http://localhost:5033/api/movies/recents?limit=5')
        .then((res) => res.data)
        .catch((err) => console.error(err));
    },
    async getCategories() {
      return axios
        .get('http://localhost:5033/api/categories')
        .then((res) => res.data)
        .catch((err) => console.error(err));
    },
    async getMoviesByCategory(id) {
      if (!id) return false;
      return axios
        .get(`http://localhost:5033/api/movie/category/${id}?limit=5`)
        .then((res) => res.data)
        .catch((err) => console.error(err));
    },
    async getUserFav(id) {
      return axios
        .get(`http://localhost:5033/api/favories/${id}?limit=5`)
        .then((res) => res.data)
        .catch(() => []);
    },
    emit(val) {
      this.$emit('play', val);
    }
  }
};
</script>

<style lang="scss" scoped>
.wrapper {
  margin: 30px auto;
  .title {
    display: flex;
    justify-content: space-between;
    p {
      color: $inactive
    }
  }
  .movies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    article {
      flex: 1 1 250px;
      width: calc(20% - 10px);
      max-height: 170px;
      max-width: 450px;
    }
  }
}
@media (max-width: 1060px) and (min-width: 795px) {
  .movies article:nth-last-child(2) {
    display: none;
  }
}
</style>
