<template>
  <div class="wrapper">
    <div class="row">
      <div class="col">
        <figure>
          <img src="../assets/img/login.jpg" alt="Homme regardant une télévision">
        </figure>
      </div>
      <div class="col">
        <h2>Connexion</h2>
        <p v-if="error">
          Email ou mot de passe incorrect veuillez vérifier vos informations.
        </p>
        <form action="">
          <div class="input">
            <label for="email">Email :</label>
            <input id="email" v-model="email" type="email">
          </div>
          <div class="input">
            <label for="password">Mot de passe :</label>
            <input id="password" v-model="password" type="password">
          </div>
        </form>
        <ButtonUI @click="comparePassword">
          C'est partit !
        </ButtonUI>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import ButtonUI from '../components/ui/Button.vue';

export default {
  name: 'LoginPage',
  components: { ButtonUI },
  emits: ['user'],
  data() {
    return {
      email: null,
      password: null,
      error: false
    };
  },
  created() {
    if (this.$store.state.isConnected) {
      this.$router.replace({ name: 'home' });
    }
  },
  methods: {
    async comparePassword() {
      if (!this.email || !this.password) {
        this.error = true;
        return;
      }
      const dbPassword = await axios
        .get(`http://localhost:5033/api/password?email=${this.email}`)
        .then((res) => res.data)
        .catch((err) => console.error(err));
      const hashPassword = await axios
        .post('http://localhost:5033/api/hash', { password: this.password })
        .then((res) => res.data.password)
        .catch((err) => console.error(err));

      if (dbPassword.password === hashPassword) {
        this.error = false;
        this.$store.dispatch('setUser', dbPassword.user_id);
        this.$router.replace({ name: 'home' });
      } else {
        this.error = true;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.wrapper {
  padding-top: 130px;
  .row {
    align-items: center;
    .col {
      flex: 1 0 40%;
      overflow: hidden;
      figure {
        width: 100%;
        height: 100%;
        filter: brightness(.7);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &:last-child {
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        h2 {
          font-size: 2.2rem;
        }
        form {
          display: flex;
          flex-direction: column;
          gap: 15px;
          .input {
            display: flex;
            flex-direction: column;
            gap: 10px;
            input {
              height: 35px;
              background-color: $inactive;
              outline: none;
              border: none;
              border-radius: $borderRadius;
              color: $black;
              padding : 5px 15px;
            }
          }
        }
      }
    }
  }
}
</style>
