<template>
  <section class="not-found">
    <figure>
      <img src="@/assets/img/not-found.svg" alt="Page not found">
    </figure>
    <h2>Hmm, it seems that this page does not exist anymore...</h2>
    <p>
      We are sorry for the inconvenience, but let us take you to your next
      destination!
    </p>
  </section>
</template>

<script>
export default {
  name: 'NotFound'
};
</script>

<style lang="scss" scoped>
.not-found {
  text-align: center;
  figure {
    width: 40vw;
    margin: 40px auto;
    img {
      width: 100%;
    }
  }
}
</style>
