<template>
  <div class="wrapper">
    <div class="row">
      <div class="col">
        <figure>
          <img src="../assets/img/login.jpg" alt="Homme regardant une télévision">
        </figure>
      </div>
      <div class="col">
        <h2>Inscription</h2>
        <p v-if="error" :class="`alert ${error ? 'error' : ''}`" v-html="error" />
        <form action="">
          <div class="row">
            <div class="col input">
              <label for="firstname">Prénom :</label>
              <input id="firstname" v-model="user.firstname" type="firstname">
            </div>
            <div class="col input">
              <label for="lastname">Nom :</label>
              <input id="lastname" v-model="user.lastname" type="lastname">
            </div>
          </div>
          <div class="input">
            <label for="email">Email :</label>
            <input id="email" v-model="user.email" type="email">
          </div>
          <div class="row">
            <div class="col input">
              <label for="password">Mot de passe :</label>
              <input id="password" v-model="user.password" type="password">
            </div>
            <div class="col input">
              <label for="repeatPassword">Confirmation :</label>
              <input id="repeatPassword" v-model="user.confirm_password" type="password">
            </div>
          </div>
          <h4>Choisir une formule</h4>
          <div class="row plans">
            <div class="col" @click="user.plan_id = 1">
              <input
                id="try"
                v-model="user.plan_id"
                name="plan"
                type="radio"
                value="1"
              >
              <label for="try">Gratuit</label>
              <p>
                Essayez pendant 7 jour
              </p>
            </div>
            <div class="col" @click="user.plan_id = 2">
              <input
                id="month"
                v-model="user.plan_id"
                name="plan"
                type="radio"
                value="2"
              >
              <label for="month">10€</label>
              <p>S'abonner pour 1 mois</p>
            </div>
            <div class="col" @click="user.plan_id = 3">
              <input
                id="year"
                v-model="user.plan_id"
                name="plan"
                type="radio"
                value="3">
              <label for="year">100 €</label>
              <p>S'abonner pour 12 mois</p>
            </div>
          </div>
        </form>
        <ButtonUI @click="register">
          Je rejoins l'aventure !
        </ButtonUI>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import ButtonUI from '../components/ui/Button.vue';

export default {
  name: 'RegisterPage',
  components: { ButtonUI },
  emits: ['user'],
  data() {
    return {
      user: {
        firstname: null,
        lastname: null,
        email: null,
        password: null,
        confirm_password: null,
        plan_id: null
      },
      error: false
    };
  },
  created() {
    if (this.$store.state.isConnected) {
      this.$router.replace({ name: 'home' });
    }
  },
  methods: {
    async register() {
      this.error = false;
      const { email, password } = this.user;
      if (!email || password !== this.user.confirm_password || !this.user.plan_id) {
        this.error = 'Merci de renseigner un email et un mot de passe valide.';
        return;
      }
      delete this.user.confirm_password;
      await axios
        .post('http://localhost:5033/api/user', this.user)
        .then((res) => {
          this.$store.dispatch('setUser', res.data.id);
          this.$router.replace({ name: 'home' });
        })
        .catch(() => {
          this.error = `
            Nous avons trouvé un compte avec ces informations.
             <a
              href="/login"
              target="_self"
              @click="event.preventDefault(); $router.push('/login');">Vous connecter</a>.
          `;
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.wrapper {
  padding-top: 130px;
  & > .row {
    align-items: center;
    & > .col {
      flex: 1 0 40%;
      overflow: hidden;
      figure {
        width: 100%;
        height: 100%;
        filter: brightness(.7);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &:last-child {
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        h2 {
          font-size: 2.2rem;
        }
        .row .col {
          padding: 0;
          flex: 1 0 40%;
        }
        form {
          display: flex;
          flex-direction: column;
          gap: 20px;
          h4 {
            margin: 10px 0 0 0;
          }
          .input {
            display: flex;
            flex-direction: column;
            gap: 10px;
            input {
              height: 35px;
              background-color: $inactive;
              outline: none;
              border: none;
              border-radius: $borderRadius;
              color: $black;
              padding : 5px 15px;
            }
          }
          .plans {
            .col {
              flex: 1 0 25% !important;
              border: 1px solid $inactive;
              border-radius: $borderRadius;
              padding: 15px 20px;
              cursor: pointer;
              label {
                margin-left: 10px;
                font-size: 1.3rem;
                font-weight: bold;
              }
              p {
                margin-top: 6px;
              }
            }
          }
        }
      }
    }
  }
}
</style>
