<template>
  <div class="actor">
    <figure>
      <img :src="getPicture(actor.picture)" :alt="`Picture of ${actor.firstname} ${actor.lastname}`">
    </figure>
    <div class="actor-info">
      <p>{{ actor.firstname }} {{ actor.lastname }}</p>
      <span>{{ actor.role }}</span>
    </div>
  </div>
</template>

<script>

export default {
  name: 'ActorCard',
  props: {
    actor: {
      type: Object,
      required: true
    }
  },
  methods: {
    getPicture(picture) {
      try {
        return picture
          // eslint-disable-next-line import/no-dynamic-require
          ? require(`../../assets/data/actors/${picture}`)
          : require('../../assets/data/actors/unknow.png');
      } catch (error) {
        return require('../../assets/data/actors/unknow.png');
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.actor {
  position: relative;
  width: 100px;
  height: 150px;
  overflow: hidden;
  border-radius: $borderRadius;
  figure {
    width: 100%;
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .actor-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    height: calc(100% - 16px);
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding: 8px;
    gap: 6px;
    p {
      font-size: 1.2rem;
      font-weight: bold;
      line-height: 1.4rem;
    }
    span {
      font-size: .8rem;
    }
  }
}
</style>
