<template>
  <article class="mostViewed">
    <figure>
      <img :src="getPicture(movie.picture)" :alt="`Couverture du film ${movie.title}`">
    </figure>
    <div class="content">
      <h2>{{ movie.title }}</h2>
      <p>{{ truncateString(movie.description, 120) }}</p>
      <div class="buttons">
        <ButtonUI icon="play" @click="$store.dispatch('playMovie', movie)">
          Lire le film
        </ButtonUI>
        <ButtonUI icon="circle-info" type="outline" @click="$store.dispatch('setMovieInfo', movie)">
          En savoir plus
        </ButtonUI>
      </div>
    </div>
  </article>
</template>

<script>
import ButtonUI from './Button.vue';

export default {
  name: 'BannerUI',
  components: { ButtonUI },
  props: {
    movie: {
      type: Object,
      required: true
    }
  },
  methods: {
    truncateString(str, num) {
      if (str.length <= num) {
        return str;
      }
      return `${str.slice(0, num)}...`;
    },
    getPicture(picture) {
      return picture
        // eslint-disable-next-line import/no-dynamic-require
        ? require(`../../assets/data/movies/${picture}`)
        : require('../../assets/data/movies/unknow.png');
    }
  }
};
</script>

<style lang="scss" scoped>
.mostViewed {
  height: 800px;
  position: relative;
  figure {
    width: 100%;
    height: 100%;
    filter: brightness(.5);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    position: absolute;
    top: 60%;
    left: 10%;
    max-width: 600px;
    h2 {
      font-size: 3rem;
    }
    p {
      margin-bottom: 20px;
    }
    .buttons {
      display: flex;
      gap: 10px;
    }
  }
}
</style>
