<template>
  <router-link :to="type !== 'inactive' ? route : ''" :class="`btn btn-${type} btn-${size}`">
    <FontAwesomeIcon v-if="icon" :icon="icon" />
    <slot />
  </router-link>
</template>

<script>
export default {
  name: 'ButtonUI',
  props: {
    icon: {
      type: String,
      default: ''
    },
    route: {
      type: [Object, String],
      default() {
        return {};
      }
    },
    type: {
      type: String,
      default: 'full',
      validator(value) {
        return ['outline', 'full', 'inactive'].includes(value);
      }
    },
    size: {
      type: String,
      default: 'L',
      validator(value) {
        return ['S', 'L', 'XL'].includes(value);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@mixin btn($text, $background, $border) {
  border: 1px solid $border;
  background-color: $background;
  color: $text;
}
.btn {
  min-width: 150px;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  transition: all .2s ease-in-out;
  border-radius: $borderRadius;
  svg {
    margin-right: 5px;
  }

  &.btn-full {
    @include btn($black, $white, $white);
    transition: all .2s ease-in-out;
    &:hover {
      @include btn($white, $black, $black);
    }
  }
  &.btn-outline {
    @include btn($white, transparent, $white);
    transition: all .2s ease-in-out;
    &:hover {
      @include btn($black, $white, $white);
    }
  }
  &.btn-inactive {
    @include btn($black, $white, $white);
    opacity: .5;
    cursor: not-allowed;
    &:hover {
      transform: none;
    }
  }

  &.btn-S {
    font-size: .8rem;
  }
  &.btn-XL {
    font-size: 1.2rem;
  }

  &:hover {
    transform: scale(1.02);
  }
}
</style>
