<template>
  <article @click="$store.dispatch('setMovieInfo', movie)">
    <figure>
      <img
        :src="getPicture(movie.picture)"
        :alt="`Couverture du film ${movie.title}`"
      >
    </figure>
    <div class="content">
      <h4>{{ movie.title }}</h4>
      <!-- <p>{{ movie.duration }}</p> -->
    </div>
  </article>
</template>

<script>

export default {
  name: 'MovieCard',
  props: {
    movie: {
      type: Object,
      required: true
    }
  },
  methods: {
    getPicture(picture) {
      try {
        return picture
          // eslint-disable-next-line import/no-dynamic-require
          ? require(`../../assets/data/movies/${picture}`)
          : require('../../assets/data/movies/unknow.png');
      } catch (error) {
        return require('../../assets/data/movies/unknow.png');
      }
    }
  }
};
</script>

<style lang="scss" scoped>
article {
  position: relative;
  border-radius: $borderRadius;
  overflow: hidden;
  cursor: pointer;
  figure {
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    filter: brightness(.5);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 20px;
    h4 {
      margin-bottom: 2px;
      line-height: 1.4rem;
    }
  }
  &:hover {
    figure {
      filter: brightness(.25);
    }
  }
}
</style>
