<template>
  <footer>
    <ul class="wrapper">
      <li>
        <h2>ElNetflixo</h2>
        <p>
          La plateforme de toutes tes envies. Découvre les prochaines étoiles montante du cinéma
          ou redécouvre les films préférés de ton enfance
        </p>
      </li>
      <li>
        <h4>Navigation</h4>
        <ul>
          <li>Accueil</li>
          <li>CGU</li>
          <li>CGV</li>
          <li>Besoin d'aide ?</li>
        </ul>
      </li>
      <li>
        <h4>Catégories</h4>
        <ul>
          <li>Horreur</li>
          <li>Comédie</li>
          <li>Action</li>
          <li>Documentaire</li>
        </ul>
      </li>
    </ul>
  </footer>
</template>

<script>
export default {
  name: 'AppFooter',
  watch: {
    $route() {
      window.scrollTo({
        top: 0,
        left: 0,
        behavior: 'smooth'
      });
    }
  }
};
</script>

<style lang="scss" scoped>
footer {
  @include gradient(0, #000000, rgba(0, 0, 0, .7), rgba(0,255,0,0));
  padding: 30px 0;
  & > ul {
    display: flex;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap-reverse;
    & > li {
      flex: 1 0 200px;
      &:first-child {
        flex: 1 0 400px;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 5px
      }
    }
  }
}
</style>
