<template>
  <header>
    <div class="wrapper">
      <div>
        <h1><router-link to="home">ElNetflixo</router-link></h1>
        <nav v-if="$store.state.isConnected">
          <li><router-link to="home">Accueil</router-link></li>
          <li><router-link :to="{ name: 'categorie', params: { cat: 5 }}">Action</router-link></li>
          <li><router-link :to="{ name: 'categorie', params: { cat: 2 }}">Comédie</router-link></li>
          <li><router-link :to="{ name: 'categorie', params: { cat: 7 }}">Drame</router-link></li>
          <li>
            <router-link :to="{ name: 'favories' }">Vos favoris</router-link>
          </li>
        </nav>
      </div>
      <div v-if="!$store.state.isConnected" class="offline">
        <ButtonUI :route="{ name: 'login' }" size="XL">
          Connexion
        </ButtonUI>
        <ButtonUI :route="{ name: 'register' }" size="XL" type="outline">
          Inscription
        </ButtonUI>
      </div>
      <div v-else class="online">
        <div
          :class="{ 'closed' : searchClosed && !search, 'searchBar' : true}"
          @mouseover="searchClosed = false"
          @mouseleave="!isSelect ? searchClosed = true : searchClosed = false"
          @focus="isSelected = true"
          @focusout="isSelect = false"
        >
          <FontAwesomeIcon icon="magnifying-glass" class="searchIcon" />
          <input v-model="search" type="search">
          <ul v-if="searchResults" class="results">
            <li
              v-for="movie in searchResults"
              :key="movie.movie_id"
              @click="$store.dispatch('setMovieInfo', movie); search = ''"
            >
              <figure>
                <img :src="getPicture('movies', movie.picture)" :alt="`Couverture du film ${movie.title}`">
              </figure>
              <div class="text">
                <h4>{{ movie.title }}</h4>
                <p>{{ movie.category_name }}</p>
              </div>
            </li>
          </ul>
        </div>
        <div
          class="profile"
          @mouseover="showMenu = true"
          @mouseleave="showMenu = false"
        >
          <FontAwesomeIcon icon="caret-down" class="searchIcon" />
          <p>{{ user.firstname }} {{ user.lastname }}</p>
          <figure>
            <img :src="getPicture('profiles', user.picture)" alt="Votre photo de profil">
          </figure>
          <ul v-if="showMenu" class="menu" @mouseover="showMenu = true" @mouseleave="showMenu = false">
            <li>Mon compte</li>
            <li @click="logout">
              Déconnexion
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import axios from 'axios';
import ButtonUI from '../ui/Button.vue';

/* eslint-disable import/no-dynamic-require */

export default {
  name: 'AppHeader',
  components: { ButtonUI },
  data() {
    return {
      isSelected: false,
      searchClosed: true,
      showMenu: false,
      search: '',
      searchResults: null,
      user: {
        id: this.$store.state.isConnected,
        firstname: '',
        lastname: '',
        picture: ''
      }
    };
  },
  watch: {
    async search(newVal) {
      this.searchResults = null;
      if (newVal !== '') this.searchResults = await this.searchData(newVal);
    }
  },
  async mounted() {
    if (this.$store.state.isConnected) {
      const {
        id, firstname, lastname, picture
      } = await this.getUserData();
      this.user = {
        id,
        firstname,
        lastname,
        picture
      };
    }
  },
  methods: {
    async getUserData() {
      return axios
        .get(`http://localhost:5033/api/user/${this.user.id}`)
        .then((res) => res.data)
        .catch((err) => console.error(err));
    },
    async searchData(value) {
      return axios
        .get('http://localhost:5033/api/search', { params: { searchValue: value, limit: 5 } })
        .then((res) => res.data)
        .catch(() => null);
    },
    getPicture(data, picture) {
      try {
        return picture
          ? require(`../../assets/data/${data}/${picture}`)
          : require(`../../assets/data/${data}/unknow.png`);
      } catch (error) {
        return require(`../../assets/data/${data}/unknow.png`);
      }
    },
    logout() {
      this.$store.dispatch('removeUser');
      this.$router.replace({ name: 'login' });
    }
  }
};
</script>

<style lang="scss" scoped>
header {
  position: absolute;
  z-index: 100;
  width: 100%;
  padding: 20px 0;
  @include gradient(180deg, #000000, rgba(0, 0, 0, .7), rgba(0,255,0,0));
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > div {
      display: flex;
      align-items: center;
      gap: 20px;
      nav {
        display: flex;
        align-items: center;
        li a {
          padding: 15px 25px;
          transition: all .1s ease-in-out;
          &.active {
            opacity: .7;
            &:hover {
              transform: none;
            }
          }
          &:hover {
            transform: scale(1.07);
            opacity: .7;
          }
        }
      }
    }
    .offline {
      display: flex;
      align-items: center;
      gap: 5px
    }
    .online {
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;
      .searchBar {
        position: relative;
        &.closed {
          input {
            max-width: 45px;
            padding: 0;
            background: transparent;
          }
          .searchIcon {
            color: $white !important;
          }
        }
        input {
          transition: all .6s ease-out;
          width: 350px;
          height: 45px;
          padding: 0 15px 0 45px;
          background-color: rgba(255, 255, 255, 0.7);
          border: none;
          border-radius: $borderRadius;
          outline: none;
        }
        .searchIcon {
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          font-size: 1.5rem;
          color: $black;
        }
        .results {
          position: absolute;
          top: 43px;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          background-color: $black;
          li {
            border-bottom: .5px solid $inactive;
            border-radius: $borderRadius;
            padding: 5px 10px;
            display: flex;
            align-items: center;
            overflow: hidden;
            figure {
              width: 30%;
              height: 70px;
              border-radius: $borderRadius;
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .text {
              width: 66%;
              padding: 10px;
              h4 {
                margin-bottom: 4px;
                font-size: 1.1rem;
              }
              p {
                color: $inactive;
                font-size: .8rem;
              }
            }
            &:hover {
              background-color: rgba(62, 62, 62, 0.7);
              cursor: pointer;
            }
            &:last-child {
              border: none;
            }
          }
        }
      }
      .profile {
        position: relative;
        display: flex;
        gap: 15px;
        padding: 5px;
        z-index: 10;
        & > svg {
          padding : 10px;
        }
        & > p {
          font-weight: bold;
          padding: 10px 0;
        }
        figure {
          position: relative;
          width: 35px;
          height: 35px;
          overflow: hidden;
          border-radius: $borderRadius;
          img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .menu {
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          width: 100%;
          padding-top: 50px;
          background-color: rgba(0, 0, 0, .8);
          border-radius: 0 0 $borderRadius $borderRadius;
          & > li {
            padding: 10px 20px;
            transition: all .4s ease;
            &:hover {
              color: $inactive;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 950px) {
  header .wrapper {
    div nav {
      display: none;
    }
    .online p {
      display: none;
    }
  }
}
@media (max-width: 630px) {
  header .wrapper .online .searchBar {
    display: none;
  }
}
</style>
