<template>
  <div>
    <iframe
      :src="`${publicLinkToEmbedYoutube(movie.file)}?autoplay=1`"
      frameborder="0"
      allowfullscreen
    />
    <FontAwesomeIcon icon="xmark" class="close" @click="$store.dispatch('stopMovie')" />
  </div>
</template>

<script>
export default {
  name: 'MoviePlayer',
  props: {
    movie: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      hover: false
    };
  },
  methods: {
    publicLinkToEmbedYoutube(link) {
      const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
      const match = link.match(regExp);
      let id = 'error';
      if (match && match[2].length === 11) {
        // eslint-disable-next-line prefer-destructuring
        id = match[2];
      }
      const embeddedUrl = id !== 'error' ? `//www.youtube.com/embed/${id}` : null;
      return embeddedUrl;
    }
  }
};
</script>

<style lang="scss" scoped>
iframe {
  position: fixed;
  width: 100%;
  height: calc(100% + 60px);
  top: -60px;
  left: 0;
  z-index: 120;
}
.close {
  position: fixed;
  top: 20px;
  right: 50px;
  z-index: 121;
  font-size: 3.5rem;
  cursor: pointer;
}
</style>
