<template>
  <div class="movieZoom">
    <article class="content">
      <FontAwesomeIcon icon="xmark" class="close" @click="$store.dispatch('removeMovieInfo')" />
      <figure>
        <img
          :src="getPicture(movie.picture)"
          :alt="`Couverture du film ${movie.title}`"
        >
      </figure>
      <div class="info">
        <div class="title">
          <h2>
            <FontAwesomeIcon :icon="[isFav ? 'fas' : 'far', 'heart']" class="like" @click="updateFavorie()" />
            {{ movie.title }}
          </h2>
          <ButtonUI icon="play" @click="$store.dispatch('playMovie', movie); $store.dispatch('removeMovieInfo')">
            Lire le film
          </ButtonUI>
        </div>
        <div class="row">
          <div>
            <p>{{ movie.description }}</p>
          </div>
          <div>
            <p>
              <strong>Date de sortie :</strong>
              {{ movie.release_date ? formatDate(movie.release_date) : 'Inconnue' }}
            </p>
            <p><strong>Durée :</strong> {{ formatDuration(movie.duration) }}</p>
            <p><strong>Catégorie :</strong> {{ movie.category_name }}</p>
            <p>
              <strong>Classification :</strong>
              {{ movie.classification_title ? movie.classification_title : 'Non précisé' }}
            </p>
            <p v-if="note">
              <strong>Note : </strong>
              <FontAwesomeIcon v-for="i in 5" :key="i" :class="i <= Math.round(note) ? 'check' : ''" icon="star" />
              {{ note.toFixed(1) }}
            </p>
          </div>
        </div>
        <div class="note">
          <h3>
            Noter ce film
          </h3>
          <div>
            <FontAwesomeIcon
              v-for="i in 5"
              :key="i"
              icon="star"
              :class="{ 'check' : i <= Math.floor(userNotation) }"
              @click="setNote(i, 'click')"
              @mouseover="setNote(i, 'over')"
              @mouseleave="setNote(oldNote, 'over')"
            />
          </div>
        </div>
        <div v-if="actors" class="actors">
          <h3>Acteurs</h3>
          <div class="list">
            <ActorCard
              v-for="actor in actors"
              :key="actor.id"
              :actor="actor"
            />
          </div>
        </div>
      </div>
    </article>
  </div>
</template>

<script>
import axios from 'axios';
import ButtonUI from '../ui/Button.vue';
import ActorCard from '../ui/ActorCard.vue';

export default {
  name: 'HomePage',
  components: {
    ButtonUI, ActorCard
  },
  props: {
    movie: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      actors: null,
      note: null,
      userNotation: 0,
      oldNote: 0,
      isFav: false
    };
  },
  async created() {
    this.actors = await this.getMovieActors(this.movie.movie_id);
    this.note = await this.getMovieNote(this.movie.movie_id);
    this.userNotation = await this.getUserNotation(this.movie.movie_id);
    this.isFav = await this.isInFavories(this.movie.movie_id);
    this.oldNote = this.userNotation;
  },
  methods: {
    async getMovieActors(id) {
      return axios
        .get(`http://localhost:5033/api/movieActors/${id}`)
        .then((res) => res.data)
        .catch(() => {});
    },
    async getMovieNote(id) {
      return axios
        .get(`http://localhost:5033/api/movieNote/${id}`)
        .then((res) => res.data.avg_note)
        .catch(() => {});
    },
    async getUserNotation(id) {
      return axios
        .get(`http://localhost:5033/api/favories/?movie=${id}&user=${this.$store.state.isConnected}`)
        .then((res) => res.data.note)
        .catch(() => {});
    },
    async isInFavories(id) {
      return axios
        .get(`http://localhost:5033/api/isUserFav?movieId=${id}&userId=${this.$store.state.isConnected}`)
        .then((res) => res.data.isExist)
        .catch(() => {});
    },
    async addMovieToFavories() {
      return axios
        .post(
          'http://localhost:5033/api/favorie',
          { movie_id: this.movie.movie_id, user_id: this.$store.state.isConnected }
        )
        .then(() => { this.isFav = true; })
        .catch(() => {});
    },
    async removeMovieToFavories() {
      return axios
        .delete(
          'http://localhost:5033/api/favorie',
          { data: { movieId: this.movie.movie_id, userId: this.$store.state.isConnected } }
        )
        .then(() => { this.isFav = false; })
        .catch(() => {});
    },
    async updateFavorie() {
      if (this.isFav) {
        this.removeMovieToFavories();
        return;
      }
      this.addMovieToFavories();
    },
    async setNote(rank, action) {
      this.userNotation = rank;
      if (action === 'click') {
        if (!this.oldNote) {
          axios
            .post(
              'http://localhost:5033/api/usersNote',
              { movie_id: this.movie.movie_id, user_id: this.$store.state.isConnected, note: rank }
            ).then(async () => {
              this.note = await this.getMovieNote(this.movie.movie_id);
            });
        } else {
          axios
            .patch(
              'http://localhost:5033/api/usersNote',
              { movieId: this.movie.movie_id, userId: this.$store.state.isConnected, note: rank }
            ).then(async () => {
              this.note = await this.getMovieNote(this.movie.movie_id);
            });
        }
        this.oldNote = rank;
      }
    },
    getPicture(picture) {
      try {
        return picture
          // eslint-disable-next-line import/no-dynamic-require
          ? require(`../../assets/data/movies/${picture}`)
          : require('../../assets/data/movies/unknow.png');
      } catch (error) {
        return require('../../assets/data/movies/unknow.png');
      }
    },
    formatDuration(duration) {
      const temp = duration.split(':');
      return `${temp[0]}h${temp[1]}`;
    },
    formatDate(date) {
      const monthList = [
        'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet',
        'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'
      ];
      const dateArr = date.split('-');
      const day = dateArr[2].slice(0, 2);
      const month = monthList[dateArr[1] - 1];
      const year = dateArr[0];
      return `${day} ${month} ${year}`;
    }
  }
};
</script>

<style lang="scss" scoped>
.movieZoom {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom:0;
  left:0;
  background-color: rgba(0, 0, 0, .9);
  z-index: 100;
  .content {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    background-color: $black;
    width: 60vw;
    height: 90vh;
    margin: 30px auto;
    border-radius: $borderRadius;
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: $black;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $white;
      border-radius: 20px;
      border: 3px solid $black;
    }
    .close {
      position: absolute;
      font-size: 2rem;
      z-index: 110;
      cursor: pointer;
      top: 20px;
      right: 20px;
    }
    .like {
      cursor: pointer;
      margin-right: 10px;
    }
    & > figure {
      width: 100%;
      height: 250px;
      filter: brightness(.7);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .info {
      padding: 30px;
      .title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        h2 {
          margin-bottom: 0;
          flex: 0 1 calc(70% - 20px);
        }
        a {
          flex: 1 1 calc(25% - 20px);
        }
      }
      .row div {
        &:first-child {
          flex: 1 1 400px;
        }
        &:last-child {
          flex: 1 1 30%;
          max-width: 300px;
        }
      }
    }
    .check {
      color: #FDCC0D;
    }
    .note {
      margin-top: 30px;
      svg {
        font-size: 1.7rem;
        cursor: pointer;
      }
    }
    .actors {
      margin-top: 30px;
      .list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
    }
  }
}
</style>
