<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>
    Streaming | ElNetflixo
  </title>
  <meta name="description" content="Regardez vos film préférez en illimité depuis une plateforme simple et intuitive">
  <meta name="keywords" content="movie, streaming, film">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="French">
  <meta property="og:title" content="Streaming | ElNetflixo" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://picsum.photos/1200/600.webp" />
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
</body>

</html>