<template>
  <div :class="$store.state.moviePlaying ? 'playing' : ''">
    <AppHeader />
    <router-view v-slot="{ Component, route }">
      <transition name="fade" mode="out-in">
        <div :key="route.name" class="view">
          <component :is="Component" @play="playMovie" />
        </div>
      </transition>
    </router-view>
    <MoviePlayer
      v-if="$store.state.moviePlaying"
      :movie="$store.state.moviePlaying"
    />
    <MovieModal
      v-if="$store.state.movieInfo"
      :movie="$store.state.movieInfo"
    />
    <AppFooter />
  </div>
</template>

<script>
import AppHeader from './components/layout/AppHeader.vue';
import AppFooter from './components/layout/AppFooter.vue';
import MoviePlayer from './components/modal/MoviePlayer.vue';
import MovieModal from './components/modal/MovieModal.vue';

export default {
  name: 'App',
  components: {
    AppHeader,
    AppFooter,
    MoviePlayer,
    MovieModal
  },
  data() {
    return {
      movie: null
    };
  },
  watch: {
    $route: {
      immediate: true,
      handler(to) {
        if (!this.$store.state.isConnected && to.name !== 'register' && to.name !== 'notFound') {
          this.$router.replace({ name: 'login' });
        }
        document.title = to.meta.title
          ? `${to.meta.title} | El Netflixo`
          : 'Streaming platform | El Netflixo';
      }
    }
  },
  methods: {
    playMovie(val) {
      this.movie = val;
    }
  }
};
</script>

<style lang="scss">
@import "./assets/styles/global.scss";
.playing {
  overflow: hidden;
  height: 100vh
}
</style>
